In [32]:
library(tidyverse)
options(repr.plot.width=4, repr.plot.height=4)

In [33]:
Pegada = c(29.7, 29.7, 31.4, 31.8, 27.6)
Altura = c(175.3, 177.8, 185.4, 175.3, 172.7)

In [66]:
tab = data.frame(Y = Altura, X = Pegada)
tab

  Y     X
1 175.3 29.7
2 177.8 29.7
3 185.4 31.4
4 175.3 31.8
5 172.7 27.6

In [69]:
m = lm(Y ~ X, data = tab)
summary(m)

Call:
lm(formula = Y ~ X, data = tab)

Residuals:
     1      2      3      4      5
-1.413  1.087  5.751 -5.040 -0.385

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  125.407     40.915   3.065   0.0548 .
X              1.727      1.360   1.270   0.2937
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 4.539 on 3 degrees of freedom
Multiple R-squared:  0.3496,	Adjusted R-squared:  0.1328
F-statistic: 1.613 on 1 and 3 DF,  p-value: 0.2937

In [70]:
anova(m)

          Df Sum Sq   Mean Sq  F value Pr(>F)
X         1  33.21891 33.21891 1.61254 0.2936863
Residuals 3  61.80109 20.60036      NA        NA

In [71]:
4.539^2

[1] 20.60252